<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Courses</title>
        <!-- Обязательные метатеги -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <link rel="stylesheet" th:href="@{/style.css}">
    </head>

    <body>
        <div class="container">
            <header th:replace="fragments/header :: header"></header>
            <h1 class="display-1">Courses</h1>
            <div class="row">
                <form th:action="@{/course/new}">
                    <button type="submit" class="btn btn-outline-success">New course</button>
                </form>
            </div>
            <div class="row">
                <form>
                    <label for="titlePrefix" class="inline">Filter by title</label>
                    <input type="text" id="titlePrefix" class="inline" name="titlePrefix"
                           th:value="${param.titlePrefix}"/>
                    <button class="btn btn-success">Apply</button>
                </form>
            </div>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:unless="${courses.empty}" th:each="course : ${courses}">
                        <td th:text="${course.id}">1</td>
                        <td>
                            <a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}">Course name</a>
                        </td>
                        <td th:text="${course.author}">Course author</td>
                        <td>
                            <div class="row">
                                <div class="col-lg" sec:authorize="hasRole('ADMIN')">
                                    <form th:method="delete" th:action="@{/course/{id}(id = ${course.id})}">
                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                                <div class="col-lg">
                                    <form th:method="get" th:action="@{/course/{id}/assign(id = ${course.id})}">
                                        <button type="submit" class="btn btn-outline-success">Assign user</button>
                                    </form>
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr th:if="${courses.empty}" >
                        <td colspan="4">No data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>