<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit course</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="contrainer">
    <div class="row">
        <header th:replace="fragments/header :: header"></header>
        <div class="display-1">Edit course</div>
    </div>

    <div class="row">
        <form class="form" th:object="${course}" th:method="post" th:action="@{/course}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{users}">

            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" id="title" th:field="*{title}">
                <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Course title has to be filled</small>
            </div>

            <div class="form-group">
                <label for="author">Author</label>
                <input class="form-control" type="text" id="author" th:field="*{author}">
                <small class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Course author has to be filled</small>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>

    <div class="row">

<!--        TABLE WITH LESSONS-->

        <div class="col-lg">
            <div th:unless="${lessonDTOs == null}">
                <a role="button" class="btn btn-outline-success"
                   th:href="@{/lesson/new(course_id = ${course.id})}">New lesson</a>

                <table class="table table-dark table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:unless="${lessonDTOs.empty}" th:each="lesson : ${lessonDTOs}">
                        <td th:text="${lesson.id}">1</td>
                        <td>
                            <a th:text="${lesson.title}" th:href="@{/lesson/{id}(id = ${lesson.id})}">Lesson title</a>
                        </td>
                        <td>
                            <form th:method="delete" th:action="@{/lesson/{id}(id = ${lesson.id})}">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <tr th:if="${lessonDTOs.empty}">
                        <td colspan="4">No data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

<!--        TABLE WITH USERS-->
        <div class="col-lg">
            <div th:unless="${users == null}">
                <form th:method="get" th:action="@{/course/{id}/assign(id = ${course.id})}">
                    <button type="submit" class="btn btn-outline-success">Assign</button>
                </form>
                <table class="table table-dark table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:unless="${users.empty}" th:each="user : ${users}">
                        <td th:text="${user.id}">1</td>
                        <td>
                            <a th:text="${user.username}" th:href="@{/user/{id}(id = ${user.id})}">User name</a>
                        </td>
                        <td>
                            <form th:method="delete"
                                  th:action="@{/course/{id}/remove(id = ${course.id}, userId = ${user.id})}">
                                <button type="submit" class="btn btn-outline-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    <tr th:if="${users.empty}">
                        <td colspan="3">No data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</body>

</html>