body {
    background-image:url('../images/body-background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    color:cornsilk;
    border-radius: 10px;
    border: none;
}

button {
    background-color:mediumseagreen;
    font-family: 'Courier New', Courier, monospace;
    color:cornsilk;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: none;
    
}

h1 {
    font-weight: bold;
    color: white;
}

.alert {
    background-color: #a90201;
}

p.text {
    padding: 10px;
    border-radius: 5px;
}

table {
    background-color: cornsilk;
    color:darkslateblue;
    border-radius: 5px;
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid;
    text-align: center;
    padding: 5px;
}

input {
    width: 80%;
    height:20%;
}