body {
    font-family: "Courier New", monospace;
    color: cornsilk;
    background-color: black;
}

select, input, textarea {
    background-color: #222222 !important;
    color: cornsilk !important;
}