<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">
    <div class="row">
        <div class="col-lg btn-group h-auto" role="group">
            <a th:classappend="${activePage == 'courses'} ? active"
               th:href="@{/course}" role="button" class="btn btn-outline-secondary">Courses</a>
            <a sec:authorize="hasRole('ADMIN')" th:classappend="${activePage == 'users'} ? active"
               th:href="@{/admin/user}" role="button" class="btn btn-outline-secondary">Users</a>
        </div>
        <div class="col-lg">
            <a role="button" class="btn btn-outline-secondary"
               sec:authorize="!isAuthenticated()" th:href="@{/login}">Log in</a>
            <form class="float-right" th:method="post" sec:authorize="isAuthenticated()"
                  th:action="@{/logout}">
                <button class="btn btn-outline-secondary">Log out</button>
            </form>
        </div>
        <div class="col-lg" sec:authorize="isAuthenticated()">
            <img th:src="@{/profile/avatar}" alt="Profile" width="96" class="rounded float-right">
            <a th:href="@{/profile}" class="float-right">
                <span sec:authentication="principal.username">Username</span>
            </a>
        </div>
    </div>


</header>

</html>